<h2>Default issues</h2>
<% if @default_issues.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
<div class="autoscroll">
<table class="list issues">
  <thead>
    <tr>
      <th>Id</th>
      <th><%=l(:field_subject)%></th>
      <th><%=l(:field_status)%></th>
      <th><%=l(:field_description)%></th>
      <th><%=l(:field_estimated_hours)%></th>
      <th><%=l(:field_tracker)%></th>
      <th><%=l(:field_priority)%></th>
      <th><%=l(:field_role)%></th>
      <th><%=l(:field_start_date)%></th>
      <th><%=l(:field_action)%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
    <% @default_issues.each do |default_issue| %>
      <tr>
        <td><%= default_issue.id if default_issue.parent == nil %></td>
        <td class="subject"><%= link_to default_issue.subject.truncate(20), project_default_issue_path(@project, default_issue)  %></td>
        <td><%= default_issue.status_id %></td>
        <td><%= default_issue.description.truncate(20) %></td>
        <td><%= default_issue.estimated_hours %></td>
        <td><%= default_issue.tracker_id %></td>
        <td><%= default_issue.priority_id %></td>
        <td><%= default_issue.role_id %></td>
        <td><%= default_issue.start_date %></td>
        <% if User.current.allowed_to?(:manage_default_issues, @project) %>
        <td>
          <%= link_to '', edit_project_default_issue_path(@project, default_issue), :class => 'icon icon-edit' %> |
          <%= link_to '', [@project, default_issue], :confirm => 'Are you sure?',
                                                            :method => :delete,
                                                            :class => 'icon icon-del' %> 
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="contextual">
<% if User.current.allowed_to?(:manage_default_issues, @project) %>
<%= link_to '', url_for("/projects/#{@project.id}/settings/new_default_issues"), :class => 'icon icon-add' %>
<% end %>
</div>
</div>
<% end %>
<% content_for :sidebar do %>
    <%= render :partial => 'default_issues/sidebar' %>
<% end %>
<br>
