<h2> show </h2>
<p id="notice"><%= notice %></p>
<% unless @default_issue.parent == nil %>
<p>
  <strong>Parent: </strong>
  <%= @default_issue.parent.id %>
  <strong>Parent Subject:</strong>
  <%= @default_issue.parent.subject %>
</p>
<% end %>

<p>
  <strong>ID:</strong>
  <%= @default_issue.id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @default_issue.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @default_issue.description %>
</p>

<p>
  <strong>Estimated hours:</strong>
  <%= @default_issue.estimated_hours %>
</p>

<p>
  <strong>Tracker:</strong>
  <%= @default_issue.tracker_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @default_issue.priority_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @default_issue.role_id %>
</p>

<%= link_to 'Edit', edit_project_default_issue_path(@project, @default_issue) %> |
<%= link_to 'Back', project_default_issues_path %>